<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="ac-container">

    <!-- Welcome Card -->
    <div class="ac-card">
        <div class="ac-profile-box">
            {% load static %}

           {% if sprfl and sprfl.id %}
    <img src="{% url 'profile_photo' sprfl.id %}" alt="profile image">
            {% else %}
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnSSxXHLqu5lsHYkFlZkvXuo2ZamNvdqLiCg&s" alt="default profile image">
            {% endif %}

            <div>
                <h2>Welcome back,  {{stdt.username}}!</h2>
                <p>Ready to connect with the alumni network?</p>
            </div>
        </div>
    </div>

    <!-- Main Grid -->
    <div class="ac-grid">




            <h3 class="ac-section-title">Recent Updates</h3>

             <p>nothing yet </p>

        </div>

        <!-- RIGHT SIDEBAR -->
        <div class="ac-sidebar">
            <div class="ac-side-profile">
                {% load static %}

           {% if sprfl and sprfl.id %}
    <img src="{% url 'profile_photo' sprfl.id %}" alt="profile image">
            {% else %}
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnSSxXHLqu5lsHYkFlZkvXuo2ZamNvdqLiCg&s" alt="default profile image">
            {% endif %}
                <p><b>{{stdt.username}}</b></p>
                <p style="color:#94a3b8;">{{  stdt.email }}</p>
                <p style="color:#94a3b8;">persuing till {{ stdt.passout_Year }}</p>
            </div>


            <a href="#" class="ac-edit-btn">
                <span class="material-icons" style="vertical-align: middle;">edit</span>
                Edit Profile
            </a>
        </div>

    </div>
</div>
</body>
</html>